:root{
    --desc-width: 1440px;
    --mob-width: 375px;
    --main1color: hsl(158, 36%, 37%);
    --main2color: hsl(30, 38%, 92%);
    --font-weght1: 500;
    --font-weght2: 700;
    --font-p: 14px;

}

p{
    font-size: var(--font-p);
}
.container{
   display: flex;
   justify-content: center;
   margin-top: 200px;
}

body{
    font-family: 'Cairo', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Mooli', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
background-color: hsl(30, 38%, 92%);
}

.box{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

@media (max-width:767px) {
    .box{
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    .box .image{
        width: 100%;
    }
    .box .image img{
        width: 30%;
        margin: 20px;
        border-radius: 20px;
    }
    .box .text{
        text-align: center;
    }
    .cart p{
        padding-left: 30px;
    }

}

.box .image{
    width: 100%;
}

.box .image img{
    width: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.container .box .text h5:first-child{
    font-weight: 100;
    opacity: 30%;
}
.container .box .text h2{
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
.container .box .text p{
    font-weight: 400;
    opacity: 20%;
    line-height: 1.3;
}

.container .box .prices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.container .box .prices h3{
color: var(--main1color);
font-size: 30px;
}

.container .box .prices p{
    text-decoration: line-through;
    opacity: 1;
    color: black;
}

.container .box .cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main1color);
    width: 90%;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    color: white;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.container .box .cart h5{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.container .box .cart:hover{
    background-color: hsl(158, 76%, 19%);

}

.container .box .cart img{
    width: 40px;
}

